services:
  app:
    build: .
    container_name: go-invoice-app
    environment:
      - CHROME_REMOTE_URL=http://chrome:3000
      - CHROME_RENDER_URL=http://app:8080
      - STORAGE_PATH=/data
      - PORT=8080
      - TZ=Australia/Sydney
    ports:
      - "8080:8080"
    volumes:
      - ./db:/data
    networks:
      - invoice-network
    depends_on:
      - chrome

  chrome:
    image: browserless/chrome:latest
    container_name: go-invoice-chrome
    environment:
      - CONNECTION_TIMEOUT=60000
    ports:
      - "9222:3000"
    networks:
      - invoice-network

networks:
  invoice-network:
    driver: bridge
